@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

body .box {
  width: 300px;
  height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.26);
  padding: 20px 10px;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
}

@keyframes moon {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-20px);
  }
}

body .box img {
  animation: moon 1000ms   infinite ease-in-out;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 1px rgba(73, 73, 73, 0.918) solid;
}

body .box p {
  text-align: center;
  font-size: .8rem;
  width: 80%;
}
